canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
}

h1 {
  position: absolute;
  &.test {
    color: transparent;
  }

  &.production {
    color: white;
    font-family: "Segoe UI", sans-serif;
    &.title {
      height: 10vh;
      font-size: 7vh;
      width: 15vw;
      left: 42.5vw;
      top: 3vh;
    }

    &.instructions {
      height: 8vh;
      font-size: 4vh;
      width: 44vw;
      left: 28vw;
      top: 85vh;
    }
  }
}
